*{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

/* Estilos para el encabezao */

.encabezado{
    --border: 1px solid #000;
    height: 150px;
    margin: 0.3%;
    padding: 1em 0;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    -webkit-box-shadow: 0px 18px 26px -13px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 18px 26px -13px rgba(0,0,0,0.27);
    box-shadow: 0px 18px 26px -13px rgba(0,0,0,0.27);

}

.htmlDesing{
    height: 124px !important;
    left: 15%;
}

.imagenUnad{
    height: 124px !important;
    right: 15%;
    width: 415px !important; 
}

.img-responsive{
    margin: 0.5%;
    position: absolute;
    --border: 1px solid #000;
}

/* Estilos para las clases que definene el menú*/

.menu-principal{
    margin: 1rem 2rem;
    padding: 2em 1em 4em 1em;
    justify-content: space-between;
    border-bottom: 1px solid #004669;
    
}

.menu-principal a.active{
    background-color: #004669;
}

.menu-principal ul {
    margin: 0;
    padding: 2px 0;
    list-style: none;
    display: flex;
}

.menu-principal ul li{
    flex-grow: 0.01;
    border-right: 1px solid #fff;
    -webkit-box-shadow: 0px 18px 27px -12px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 18px 27px -12px rgba(0,0,0,0.27);
    box-shadow: 0px 18px 27px -12px rgba(0,0,0,0.27);
}

.menu-principal ul li a{
    display: block;
    padding: 10px 15px;
    background: #005883;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
    transition: all 0.3s linear;
    border-radius: 1px;
    text-align: center;
    text-decoration: none;
}

.menu-principal li a:hover {
    --background: #004669;
    background: rgba(0,0,0, .1);
    color: #004669;
}

/* Estilos para los section o contenido de la página*/

.contSect{
    margin: 0.1em;
    display: inline-block;
    padding: 2rem 0.5rem 3rem;
    --background-color: lightblue;
    min-width: 99%;
}

.central{
    --background-color: #f0ffff;
    display: inline-block;
    max-width: 76.5%;
    min-width: 74%;
    padding: 0.5em 0.1em 0.5em;
}

article{
    padding: 0.5em 2.5em;
}

aside{
    float: right;
    padding-right: 3px;
    display: inline-table;
    max-width: 30%;
    -webkit-box-shadow: 0px 18px 27px -12px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 18px 27px -12px rgba(0,0,0,0.27);
    box-shadow: 0px 18px 27px -12px rgba(0,0,0,0.27);
}

/* Estilos para el pie de página*/

footer{
    margin: o auto;
    padding: 2em 3em;
    height: 6em;
    background-color: #333;
    color: #fff;
}

footer h3{
    font-size: 16px;
}

footer p{
    font-size: 12px;
}

/* Estilos para el menú*/

li a, boton{
    display: block;
}

.listDesp{
    display: none;
    position: absolute;
}

.listDesp a{
    display: block;
    text-align: left;
}

.boton:hover .listDesp{
    display: block;
}

.boton .listDesp a{
    --background-color: #333;
    background-color: #f2b80d;
    color: white;
    font-weight: 400;
}

.boton .listDesp a:hover {
    background-color: #dcdcdc;
    color: #004669;
    font-weight: 500;
    width: 80%;
}